<.page_header>
  <.page_title><%= @page_title %></.page_title>

  <button class="active:animate-spin">
    <.icon name="hero-arrow-path" class="w-6 h-6" />
    <span class="sr-only">Refresh schedule</span>
  </button>
</.page_header>

<.page_content>
  <.calendar />
</.page_content>
